<!-- <p>undefined-url works!</p>
 -->

<section class="page_error">
    <div class="text-center">
        <div class="gif_bg">
            <h1 class="text-center " style="font-size:80px;"></h1>
        </div>

        <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <h3 class="h2">
            Look like you're lost
            </h3>
            <p>I'm unable to access that page. Check you URL and Try again!!!</p>
            <span>Go to Home</span>
        </div>
    </div>
</section>